* {
  box-sizing: border-box;

}

* button {
  background-color: transparent;
  padding: 2px 2px;
  border: none;

}
body{
  margin-bottom:10%;
}
#home {
  background-image: url(Images/home-bg-1.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* NAVBAR SECTION  */
.navl,
.navr {
  display: flex;
  justify-content: center;
  justify-items: auto;

}

.home-title {
  /* display: flex; */
  margin-top: 150px;
  font-family: 'Teko', sans-serif;
  letter-spacing: .5em;
  text-align: right;
  padding-right: 50px;
  font-size: 40px;
  line-height: .5em;
}


nav .container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;


}

image {

  width: 60px;
  text-align: center;
}

li {
  display: inline-flex;
  justify-content: center;
  padding-right: 4rem;
}

ul {
  list-style: none;

}

a {
  text-decoration: none;
  color: #283618;
  font-size: 12px;
  font-family: 'Monda', sans-serif;
  letter-spacing: -1px;

}

a:hover {
  color: #395e66;
  text-decoration: none;
  opacity: 0.8;
  transition: all 500ms ease;
}

.travel {
  /* margin-right: 190px; */
  text-align: right;
  font-size: 14px;
  letter-spacing: 2px;
  border: #283618 solid 2px;
  /* padding: 0 4px; */
}

/* Phottours */

.card-group {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 10px;
}

#phototours h1 {
  font-family: 'Allura', cursive;
  text-align: center;
  margin-top: 2%;
  font-size: 4em;
  color: #232e16;
  line-height:1em;
  font-weight: 600;

}

#phototours .sub-head {
  font-family: 'Monda', sans-serif;
  text-align: center;
  margin-top: 2%;
  font-size: 16px;
  word-spacing: .5em;
  color: #283618;
  
}

#phototours .container {
  position:relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  height: 320px;
  width: 200px;
  background-color: #fefae0;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.c-title {
  color: white;
  font-weight: 300;
  position: relative;
  left: 20px;
  top: 15px;
}


svg {
  fill: #17141d;
  stroke-width: 2px;
}

.c-img {
  height: 70%;
}

.c-p {
  margin-top: .5em;
  line-height: 10px;
  text-align: center;
}

.c-bton {
  width:56px;
  display:inline-flex ;
  justify-content: center;
  justify-items: center;
  border: none;
  padding: 0 2px;
  box-shadow: 5px 5px 0px #283618;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}


.line {
  margin-top: .5em;
  display: block;
  border-bottom: 3px solid #bc6c25;
  border-radius: 30%;
}

.sb-line {
  margin-top: .5em;
  display: block;
  border-bottom: 3px solid #bc6c25;
  border-radius: 40%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  line-height:2px;

}
.view{
  position: relative;
  margin-bottom: auto;
}
.c-line{
  margin-top: -.3em;
  display: block;
  border-bottom: 4px solid #bc6c25;
  border-radius: 2px;
  line-height: -2px;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}
.st-line{
  margin-top: 1em;
  margin-bottom: 3em;
  display: block;
  border-bottom: 3px solid #bc6c25;
  border-radius: 40%;
  line-height: 1em;
  width:15%;
  margin-left: auto;
  margin-right: auto;
 
}
.v-btn {
  width:12em;
  height:3em;
  display:block;
  background-color: #bc6c25;
  border: none;
  padding: 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  color:#fefae0;
  font-family: 'Monda', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  font-size: 12px;
  box-shadow: 10px 10px 20px #000000;
  padding: .5em 1em;
}
.v-btn:hover{
  box-shadow: 10px 10px 15px #000000;
  transition: all 500ms ease;
}

/* ABOUT US */
#about{
  margin-top: 3.5em;
}
.cp-line{
  margin-top: -.3em;
  display: block;
  border-bottom: 7px solid #216869;
  border-radius: 2px;
  line-height: -2px;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}
.ash{
  font-family: 'Monda', sans-serif;
  text-align: center;
  margin-top: 2.3em;
  font-size: 14px;
  word-spacing: .5em;
  letter-spacing: 3px;
  color: #283618;
  font-weight: bold;
}
.ah{
  font-family: 'Allura', cursive;
  text-align: center;
  margin-top: 2%;
  font-size: 4.5em;
  color: #232e16;
  line-height:1em;
  font-weight: 600;
}
.a_t{
  font-family: 'Allura', cursive;
  text-align: left;
  margin-top: 2%;
  font-size: 3em;
  color: #232e16;
  line-height:1em;
  font-weight: 700;
  padding-left:1.5em;
  
}
.a_p{
  font-family: 'Monda', sans-serif;
  text-align: left;
  margin-top: 2%;
  font-size: 12px;
  color: #283618;
  padding-left:6em;
}

#about .flex-item {
  margin-top:3em;
  display: flex;
  justify-content:space-between;
  /* justify-items:  */
  width:100%;
  margin-right:2.5em;
 
}

#about .flex-item img{
  height:300px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px black;
  margin-left: 5em;
}
#about .flex-item2 {
  margin-top:3em;
  display: flex;
  justify-content:space-between;
  /* justify-items:  */
  width:100%;
  margin-right:2.5em;
 
}
.flex-item2 .a_t{
  font-family: 'Allura', cursive;
  text-align: right;
  margin-top: 2%;
  font-size: 3em;
  color: #232e16;
  line-height:1em;
  font-weight: 700;
  padding-right:1.5em;
  
}
.flex-item2 .a_p{
  font-family: 'Monda', sans-serif;
  text-align: right;
  margin-top: 2%;
  font-size: 12px;
  color: #283618;
  padding-right:6em;
}

.flex-item2 img{
  height:300px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px black;
  margin-right: 3em;
}


.flex-item3 .a_t{
  font-family: 'Allura', cursive;
  text-align: left;
  margin-top: 2%;
  font-size: 3em;
  color: #232e16;
  line-height:1em;
  font-weight: 700;
  padding-left:1.5em;
  /* padding-left:.7em; */
  
}
.flex-item3 .a_p{
  font-family: 'Monda', sans-serif;
  text-align: left;
  margin-top: 2%;
  font-size: 12px;
  color: #283618;
  padding-left:6em;
}

#about .flex-item3 {
  margin-top:3em;
  display: flex;
  justify-content:space-between;
  /* justify-items:  */
  width:100%;
  margin-right:2.5em;
 
}

#about .flex-item3 img{
  height:300px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px black;
  margin-left: 5em;
}

/* FOOTER */
footer{
  margin-top:-2rem ;
  background-color: #081c15 ;
  width:100%;
  height:auto;
  background-size: cover;
  background-position: top;
  color: white;
  padding:.5rem 2rem;
}
.social_links
{
    padding: .5rem;
    /* background: #132a13; */
    border-radius: 1rem;
    /* margin-top: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:25%;
    margin-left: auto;
    margin-right: auto;
  
}
.social_links .combo
{
    transform: scale(0.9);
    transition: 0.4s ease-in;
    margin: 0 0.5rem;
    height: 3em;
    width: 3em;
    line-height: 3em;
}
.combo .circle
{
    color: #f9f9f9;
    transition: 0.4s ease-in;
    font-size: 3em;
}
.combo .icon
{
    color: #444343;
    font-size: 2rem;
    transform: translateY(1px);
    transition: 0.2s ease-in;
  color:white;
}
.combo:hover
{
    transform: scale(1.1);
}
.combo , .combo .icon
{
    color:white;
}
.ig , .ig .circle
{
    color:#e91e63;
}
.fb , .fb .circle
{
    color:#2196f3;
}
.yt , .yt .circle
{
    color:#f44336;
}
.tw , .tw .circle
{
    color:#2196f3;
}

.social-t{
  font-family: 'Monda', sans-serif;
  text-align: center;
  margin-top: 2%;
  font-size: 12px;
  color: #ffffff;
  letter-spacing:5px;
}

.b-btn{
  width:12em;
  height:3em;
  display:block;
  background-color: #bc6c25;
  border: none;
  padding: 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom:auto;
  color:#fefae0;
  font-family: 'Monda', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  font-size: 12px;
  box-shadow: 10px 10px 20px #000000;
  padding: .5em 1em;
}
#book{
  display:flex;
  background-image:url(Images/b3.jpg);
  background-position: top;
  width:100vw;
  height:100vh;
  background-size: cover;
  justify-content: center;
  justify-items: center;

}

.bt{
  font-family: 'Allura', cursive;
  text-align: center;
  margin-top: 2%;
  font-size: 4em;
  color: #f3f3f3;
  font-weight: 600;
  margin-bottom: auto;
}
.f-c{
  margin-top:23%;
  display:block;
  justify-content:flex-end;
}
.footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  text-align: center;
  }
  
  .footer .row a{
  text-decoration:none;
  color:#bc6c25;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
.copyright p{
  margin-top: 1%;
  font-family: 'Monda', 'sans-serif';
  text-align: center;
  font-size: 10px;
  color: #676767;
  background-color: #020605;
  
}
 #cp-line{
  margin-top: .3em;
  display: block;
  border-bottom: 3px solid #fefae0;
  border-radius: 20%;
  line-height: 1.5em;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
